---
import LanguageLinks from './LanguageLinks.astro'
const { lang = 'en' } = Astro.props
---

<header
  class="sticky-header fixed top-0 inset-x-0 transform -translate-y-full bg-black/80 backdrop-blur z-50 shadow transition-transform duration-300 text-white text-sm px-4 py-6 flex justify-between items-center"
>
  <LanguageLinks lang={lang} />

  <div class="text-xs md:text-sm text-center">
    <strong>@sendoa.dev</strong> — Frontend Developer | Vue.js
  </div>
</header>
