<div class="fixed inset-0 z-[-10] overflow-hidden bg-gradient-to-br from-[#0a0a1e] to-[#000a28]">
  <div class="w-full h-full blur-[40px]">
    <div class="absolute top-[20%] left-[30%] w-[80vw] h-[80vw] rounded-full opacity-80 mix-blend-hard-light bg-[radial-gradient(circle,_rgba(18,113,255,0.8)_0%,_rgba(18,113,255,0)_50%)]"></div>
    <div class="absolute top-[50%] left-[50%] w-[80vw] h-[80vw] rounded-full opacity-80 mix-blend-hard-light bg-[radial-gradient(circle,_rgba(221,74,255,0.8)_0%,_rgba(221,74,255,0)_50%)]"></div>
    <div class="absolute top-[70%] left-[20%] w-[80vw] h-[80vw] rounded-full opacity-80 mix-blend-hard-light bg-[radial-gradient(circle,_rgba(100,220,255,0.8)_0%,_rgba(100,220,255,0)_50%)]"></div>
    <div class="absolute top-[40%] left-[70%] w-[80vw] h-[80vw] rounded-full opacity-70 mix-blend-hard-light bg-[radial-gradient(circle,_rgba(200,50,50,0.7)_0%,_rgba(200,50,50,0)_50%)]"></div>
    <div class="absolute top-[60%] left-[40%] w-[160vw] h-[160vw] rounded-full opacity-80 mix-blend-hard-light bg-[radial-gradient(circle,_rgba(180,180,50,0.8)_0%,_rgba(180,180,50,0)_50%)]"></div>
  </div>
</div>